{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
{{ post.title }}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Blog post overview</h4>
    {% if post is empty %}
        <span>Post do not exist</span>
    {% else %}
        <div id="parent" class="col-xs-12">
            <div class="col-xs-7">
                <div class="col-xs-12">
                    <label for="title">Title</label>
                    <span id="title" >{{ post.title }}</span>
                </div>
                <div class="col-xs-12">
                    <label for="text">Last updated</label>
                    <span>{{ post.updated_at|date("d.m.y h:m:s") }}</span>
                </div>
                <div class="form-group col-xs-12">
                    <label for="text">Content</label>
                    <textarea class="form-control" disabled id="text" rows="6">{{ post.text }}</textarea>
                </div>
                <div class="form-group col-xs-12">
                    <label for="text">Author</label>
                    <span>{{ post.first_name}} {{ post.last_name }}</span>
                </div>
            </div>
            <div class="col-xs-4">
                <img src="{{ post.image_url }}" width="500">
            </div>
        </div>
    {% endif %}
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
