{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Edit post
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Edit blog post</h4>
    <div id="parent" class="col-xs-12">
        <form enctype="multipart/form-data" id="editPost">
            <div class="form-group col-xs-8">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" placeholder="Enter title" value="{{ post.title }}">
            </div>
            <div class="form-group col-xs-8">
                <label for="text">Text</label>
                <textarea class="form-control" id="text" placeholder="Enter text">{{ post.text }}</textarea>
            </div>
            <input type="hidden" id="image_url" value="{{ post.image_url }}">
            <div class="form-group col-xs-8">
                <button type="button" class="btn btn-success" onclick="editPost({{ post.id }})">Edit blog post</button>
            </div>
        </form>
    </div>
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
