{% extends "base.html.twig" %}
{% block title %}
    {{ parent() }}
    Blog posts listening
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{% block body %}
    <h4>Blog posts</h4>
    {% if blogPosts is empty %}
    <span>Currently there are no posts!</span>
    {% else %}
        <div class="col-xs-12">
            {% for post in blogPosts %}
                <div class="col-xs-12" style="border-bottom : thick solid #0000FF;margin-bottom:10px">
                    <div class="form-group col-xs-8">
                        <a href="/blog-post-overview/{{ post.id }}/{{ post.title }}"><h4>{{ post.title }}</h4></a><br>
                        <label for="created_at">Post added</label>:&nbsp&nbsp&nbsp
                        <span>{{ post.created_at|date("d.m.y h:m:s") }}</span><br>
                        <label for="updated_at">Post last updated</label>:&nbsp&nbsp&nbsp
                        <span>{{ post.updated_at|date("d.m.y h:m:s") }}</span><br>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    {% block content %}{% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{% endblock %}
